.background {
    position: fixed;
    width: 100vw;
    height: 100vh;

    z-index: 1004;
    background-color: rgba(0, 0, 0, 0.5);

    top: 0;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: fixed;

    width: 65vw;
    height: 97vh;

    z-index: 1005;

    top: 1.5vh;
    left: 17.5vw;

    border-radius: 0.5vw;
    background-color: white;

    overflow-y: scroll;

    transition: opacity 0.75s, transform 0.75s;

    opacity: 0;
    transform: translateY(15%);
}

.main::-webkit-scrollbar {
    display: none;
}

.banner {
    display: flex;

    width: 65vw;
    height: 30vw;
    min-height: 30vw;

    align-items: center;

    background-color: rgb(39, 42, 51);
}

.image {
    aspect-ratio: 16/9;

    border: white solid 0.05vw;
    border-radius: 0.2vw;
    margin-left: 1%;

    width: 20vw;
    position: absolute;

    right: 3vw;
    top: 10vw;
}

.exit {
    position: absolute;
    top: 1.75vw;
    right: 1.75vw;

    cursor: pointer;

    color: white;

    background-color: rgba(0, 0, 0, 0.25);

    display: flex;

    height: 2.5vw;
    width: 2.5vw;

    justify-content: center;
    align-items: center;

    border-radius: 50%;
}

.basic {
    position: absolute;
    top: 7.5vw;

    width: 50%;
}

.title {
    color: white;
    font-weight: bold;
    font-size: 2.3vw;
}

.detail {
    display: flex;
    flex-direction: column;
    height: 30vw;
    width: 50%;

    margin-left: 5%;

    padding-top: 25vw;
}

.genre {
    color: #cccccc;

    margin-top: 0.75vw;
    font-size: 1vw;
}

.description {
    color: #dddddd;

    font-size: 0.95vw;
}

.content {
    display: flex;
    width: 100%;
    padding: 1vw;
    justify-content: center;
}

.episodes {
    width: 60vw;
    background: white;

    margin-top: 1vw;

    border-radius: 0.25vw;

    padding: 1vw 0 1vw 0;
}

.title_guide {
    font-size: 1.25vw;
    font-weight: bold;
    margin-left: 1vw;

    margin-bottom: 1.5vw;

    color: #3a2727;
}