.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background: var(--background-color);
    min-height: 92vh;
}

.not_found_text {
    font-size: 1.5vw;
    color: var(--second-text-color);
}

.result {
    align-self: flex-start;
    font-weight: bold;
    font-size: 1.75vw;
    color: var(--second-text-color);

    margin: 3.5vh;
}

.keyword {
    color: var(--primary-contrast-color);
}

.items {
    display: flex;
    flex-wrap: wrap;
    width: 96.5vw;
    gap: 0.5vw;
}

.not_found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}