.main {
    padding: 3vw 5vw;

    background: var(--secondary-background-color);
    height: 92vh;
}

.title {
    font-size: 2.25vw;
    font-weight: bold;
}

.category {
    margin-top: 2.5vw;
    margin-bottom: 0.75vw;

    font-size: 1.5vw;
    font-weight: bold;
}