.banner {
    width: 100%;
    aspect-ratio: 2.5;
    position: absolute;
    top: 0;
}

.image {
    height: 100%;
    width: 100%;
}

.logo {
    position: absolute;
    z-index: 500;

    bottom: 40%;
    left: 2%;

    width: 45vw;
}

.phrase {
    color: var(--primary-color);
    font-size: 2.5vw;
    font-weight: bold;

    position: absolute;

    bottom: 25%;
    left: 3%;

    text-shadow: var(--text-shadow-color) 0 0 0.2vw
}

.watch {
    color: var(--primary-contrast-color);
    font-size: 1.3vw;
    font-weight: bold;

    position: absolute;

    bottom: 15%;
    left: 3%;

    background: var(--primary-color);
    width: 9vw;
    height: 3vw;
    line-height: 3vw;

    text-align: center;
    border-radius: 0.3vw;
}

.watch:hover {
    background: #cccccc;
}

