.main {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;

    padding: 0.25vw;
    height: 5vw;

    border-bottom: 0.05vw solid #cccccc;
}

.checkbox {
    display: flex;

    align-self: center;
    margin-left: auto;

    cursor: pointer;
    width: 3.5vw;
    height: 2vw;

    background: #aaaaaa;
    border-radius: 5vw;

    padding: 0.25vw;
    justify-content: flex-start;

    transition: background-color 0.25s;
}

.checkbox.on {
    background: #cccc00;
}

.round {
    height: 1.5vw;
    width: 1.5vw;

    border-radius: 50%;
    background: white;

    align-self: center;

    transition: transform 0.25s;
}

.checkbox.on .round {
    transform: translateX(1.5vw);
}

.label {
    align-self: center;
    font-weight: bold;
    font-size: 1.5vw;
}