.main {
    display: flex;
    width: 100%;
    padding: 0.75vw;

    cursor: pointer;
}

.main:hover {
    background: var(--hover-background);
}

.thumbnail {
    width: 20%;
    border-radius: 0.25vw;

    aspect-ratio: 16/9;
    object-fit: cover;
}

.title {
    font-size: 1.125vw;
    margin-left: 0.8vw;
    font-weight: bold;

    color: var(--episode-title);
}