.item {
    cursor: pointer;

    color: var(--primary-contrast-color);
}

.item:hover {
    text-decoration: none;
}

.title {
    font-size: 1vw;
}

.thumbnail {
    aspect-ratio: 16/9;
    border-radius: 0.35vw;
}