.header {
    z-index: 1000;
    position: fixed;

    top: 0;

    display: flex;
    flex-direction: row;
    height: 8vh;

    width: 100%;

    align-items: center;

    transition-duration: 0.4s;
    transition-property: background, box-shadow;
}

.logo {
    transition-duration: 0.4s;
    transition-property: color, text-shadow;

    font-family: ONE-Mobile-POP, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    margin-left: 1vw;

    cursor: pointer;
    color: black;
    font-size: 3vh;

    margin-right: 4.5vh;
}

.logo:hover {
    text-decoration: none;
}

.search {
    position: absolute;
    left: 37.5%;

    height: 5vh;
    width: 25%;

    font-size: 2vh;

    border: 0.1vw solid #dddddd;
    background: #ffffff;

    padding-left: 0.5vw;
    border-radius: 0.2vw;

    font-family: 'Noto Sans KR', sans-serif;
}

.search:focus {
    outline: 0.1vw solid #111111;
}

.links {
    margin: 2vh;
    color: black;
    font-weight: bold;
    font-size: 1.75vh;

    transition-duration: 0.4s;
    transition-property: color, text-shadow;
}

.links:hover {
    text-decoration: none;
}