.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 45vh;

  align-items: center;

  gap: 2vw;

  background-color: rgb(39, 42, 51);
}

.image {
  aspect-ratio: 16/9;
  height: 30vh;

  border: white solid 0.05vw;
  border-radius: 0.2vw;
  margin-left: 2vw;
}

.title {
  color: white;
  font-weight: bold;
  font-size: 2vw;
}

.detail {
  display: flex;
  flex-direction: column;
  height: 70%;
}

.genre {
  color: white;

  font-weight: bold;
  font-size: 1.2vw;

  margin-top: auto;
  margin-bottom: 10vh;
}

.content {
  display: flex;
  width: 100%;
  padding: 1vw;
  justify-content: center;
}

.episodes {
  width: 45vw;
  background: white;

  border: 1px solid rgb(236, 237, 239);
  margin-top: 7.5vh;

  border-radius: 0.25vw;

  padding: 1vw 0 1vw 0;
}

.episode_guide {
  font-size: 1.75vw;
  font-weight: bold;
  margin-left: 1vw;

  margin-bottom: 2vw;

  color: #3a2727;
}